%h1.text-center
  Settings

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Location of OpenTripPlanner Server"
      .panel-body
        = simple_form_for @open_trip_planner, url: set_open_trip_planner_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "URL of the Open Trip Planner Server"
            = f.input :value, required:true, label: false, :as => :string, input_html: {:size => 70}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set CallnRide Boundary"
      .panel-body
        = simple_form_for @boundary, url: set_callnride_boundary_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "Upload Zippled CallnRide Shapefile"
            = f.input "file", required:true, label: false, :as => :file
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Location of Landmarks File"
      .panel-body
        = simple_form_for @landmarks_file, url: set_landmarks_file_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "URL of the Landmarkss File"
            = f.input :value, required:true, label: false, :as => :string, input_html: {:size => 70}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Location of Synonyms File"
      .panel-body
        = simple_form_for @synonyms_file, url: set_synonyms_file_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "URL of the Synonyms File"
            = f.input :value, required:true, label: false, :as => :string, input_html: {:size => 70}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Location of Blacklisted Google Places File"
      .panel-body
        = simple_form_for @blacklisted_places_file, url: set_blacklisted_places_file_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "URL of the Blacklisted Google Places File"
            = f.input :value, required:true, label: false, :as => :string, input_html: {:size => 70}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'