%h1.text-center
  Settings

%div.col-md-1
%div.col-md-10
  .panel.panel-default
    .panel-heading
      %h4
        = "Set CallnRide"
    .panel-body
      = simple_form_for @boundary, url: set_callnride_boundary_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
        %div.col-md-10
          %label
            = "Upload Zippled CallnRide Shapefile"
          = f.input "file", required:true, label: false, :as => :file
        %div.col-md-2.text-center
          = f.submit "OK", class: 'btn action-button', role: 'button'