%h1.text-center
  Settings
%div.row.text-center
  =OtpBuddy::Application.config.version

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Location of OpenTripPlanner Server"
      .panel-body
        = simple_form_for @open_trip_planner, url: set_open_trip_planner_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "URL of the Open Trip Planner Server"
            = f.input :value, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set CallnRide Boundary"
      .panel-body
        %div.row
          = simple_form_for @boundary, url: set_callnride_boundary_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
            %div.col-md-10
              %label
                = "Upload Zippled CallnRide Shapefile"
              = f.input "file", required:true, label: false, :as => :file
            %div.col-md-2.text-center
              = f.submit "OK", class: 'btn action-button', role: 'button'
        %div.row
          %div{id: 'mapid', style: "height:400px;"}

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Location of Landmarks File"
      .panel-body
        = simple_form_for @landmarks_file, url: set_landmarks_file_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "URL of the Landmarks File"
            = f.input :value, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Location of Synonyms File"
      .panel-body
        = simple_form_for @synonyms_file, url: set_synonyms_file_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "URL of the Synonyms File"
            = f.input :value, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Location of Blacklisted Google Places File"
      .panel-body
        = simple_form_for @blacklisted_places_file, url: set_blacklisted_places_file_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "URL of the Blacklisted Google Places File"
            = f.input :value, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Who gets emails when synonyms, stops, landmarks, etc. are updated?"
      .panel-body
        = simple_form_for @support_emails, url: set_support_emails_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "Email Address"
            = f.input :value, required:true, label: false, :as => :text, input_html: {style: "width:100%;"}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set the Host"
      .panel-body
        = simple_form_for @host, url: set_host_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "Host address used when including images in emails"
            = f.input :value, required:true, label: false, :as => :string, input_html: {style: "width:100%;"}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

%div.row
  %div.col-md-1
  %div.col-md-10
    .panel.panel-default
      .panel-heading
        %h4
          = "Set Global Boundary"
      .panel-body
        = simple_form_for @global_boundary, url: set_global_boundary_settings_path, html: {class: 'form-horizontal', multipart: true, method: 'patch' }, authenticity_token: true do |f|
          %div.col-md-10
            %label
              = "WKT of the Global Boundary"
            = f.input :value, required:true, label: false, :as => :text, input_html: {rows: 5, style: "width:100%;"}
          %div.col-md-2.text-center
            = f.submit "OK", class: 'btn action-button', role: 'button'

:javascript

  var mymap = L.map('mapid').setView([39.7392, -104.99], 10);

  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '',
      maxZoom: 18,
      id: '',
      accessToken: ''
  }).addTo(mymap);


  var latlngs = JSON.parse('#{GeographyService.new.callnride_boundary_array}');
  var polygon = L.multiPolygon(latlngs, {color: 'red'}).addTo(mymap);
  // zoom the map to the polygon
  mymap.fitBounds(polygon.getBounds());

